html {
	background-color: #f2f3f4;}

body {
	width: 90%;
	margin: 0 auto;}

footer {
	visibility: hidden;}

h1 {
	background-color: #22196f;
	text-align: center;
	color: white;}

.news {
	text-align: center;
	color: white;
	background-color: #22196f;}

#nav_1, #nav_2, #nav_3 {
	text-align: center;
	width: 300px;
	float: left;;
	margin: 10px;
	font-size: 150%;}

.link {
	border: 2px solid #22196f;
	width: 20px;
	border-radius: 10px;
	background-color: #22196f}

.link:link {
	color: white;}

:visited {
	color: #9933ff;}

.link:hover {
	color: #9999ff;
	text-decoration: underline;}

#news {
	text-align: left;
	float: left;
	width: 25%;
	margin: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	background-color: LightGray;
	overflow: scroll;
	min-height: 295px;
	max-height: 295px;}

.date {
	text-decoration: underline;}

#content_index {
	overflow: auto;
	text-align: left;
	width: 50%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;}

#slideshow {
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;}

#news h2 {
	text-align: left;
	color: white;
	background-color: #22196f;
	padding: 10px;
	margin: 20px;}

table {
	background-color: DarkGray;
	border-width: 2px;
	border-style: solid;}

th {
	width: 150px;
	text-align: center;
	border: 1px solid black;
	padding: 0px;}

td {
	text-align: center;
	border: 1px solid black;
	padding: 0px;}

.red {
	background-color: red;}

.yellow {
	background-color: yellow;}

.text {
	color: red;}

#content_course {
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	background-color: LightGray;}

p.hole {
	width: 65%;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 1px;}

#hole_1 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

.hole1 {

	margin: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	float: left;}

#hole_2 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_3 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

.hole3 {
	margin: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	float: left;}


#hole_4 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

	.hole4 {
		margin: 5px;
		border-width: 2px;
		border-style: solid;
		border-color: #22196f;
		float: right;}

#hole_5 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_6 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_7 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

.hole7 {
	margin: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	float: left;}

#hole_8 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_9 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_10 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_11 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_12 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_13 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_14 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_15 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_16 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

#hole_17 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

	.hole17 {
		margin: 5px;
		border-width: 2px;
		border-style: solid;
		border-color: #22196f;
		float: right;}

#hole_18 {

	overflow: auto;
	text-align: left;
	width: 90%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;
	padding: 5px;}

	.history {
	overflow: auto;
	text-align: left;
	width: 60%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;}

	.john {
	overflow: auto;
	text-align: left;
	width: 60%;
	margin: 10px;
	float: left;
	background-color: LightGray;
	border-width: 2px;
	border-style: solid;
	border-color: #22196f;}

	.surrondings {
		overflow: auto;
		text-align: left;
		width: 60%;
		margin: 10px;
		float: left;
		background-color: LightGray;
		border-width: 2px;
		border-style: solid;
		border-color: #22196f;}

	.wildlife {
		overflow: auto;
		text-align: left;
		width: 60%;
		margin: 10px;
		float: left;
		background-color: LightGray;
		border-width: 2px;
		border-style: solid;
		border-color: #22196f;}

	.change {
		overflow: auto;
		text-align: left;
		width: 60%;
		margin: 10px;
		float: left;
		background-color: LightGray;
		border-width: 2px;
		border-style: solid;
		border-color: #22196f;}

		.img_holder {
			text-align: center;
		}

		#img {
			border-width: 2px;
			border-style: solid;
			border-color: black;
			margin: 0px;}

			#slider {
			   background: #000;
			   border: 5px solid #eaeaea;
			   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
			   height: 320px;
			   width: 680px;
			   margin: 40px auto 0;
			   overflow: visible;
			   position: relative;
			}

			#mask {
			   overflow: hidden;
			   height: 320px;
			}

			#slider ul {
			   margin: 0;
			   padding: 0;
			   position: relative;
			}

			#slider li {
			   width: 680px;  /* Width Image */
			   height: 320px; /* Height Image */
			   position: absolute;
			   top: -325px; /* Original Position - Outside of the Slider */
			   list-style: none;
			}

			#slider li.firstanimation {
			   animation: cycle 25s linear infinite;
			}

			#slider li.secondanimation {
			   animation: cycletwo 25s linear infinite;
			}

			#slider li.thirdanimation {
			   animation: cyclethree 25s linear infinite;
			}

			#slider li.fourthanimation {
			   animation: cyclefour 25s linear infinite;
			}

			#slider li.fifthanimation {
			   animation: cyclefive 25s linear infinite;
			}

			@keyframes cycle {
			   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
			   4%  { top: 0px; } /* Original Position */
			   16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
			   20% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
			   21% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
			   92% { top: -325px; opacity: 0; z-index: 0; }
			   96% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
			   100%{ top: 0px; opacity: 1; }
			}

			@keyframes cycletwo {
			   0%  { top: -325px; opacity: 0; } /* Original Position */
			   16% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
			   20% { top: 0px; opacity: 1; }
			   24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
			   36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
			   40% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
			   41% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
			   100%{ top: -325px; opacity: 0; z-index: -1; }
			}

			@keyframes cyclethree {
			   0%  { top: -325px; opacity: 0; }
			   36% { top: -325px; opacity: 0; }
			   40% { top: 0px; opacity: 1; }
			   44% { top: 0px; opacity: 1; }
			   56% { top: 0px; opacity: 1; }
			   60% { top: 325px; opacity: 0; z-index: 0; }
			   61% { top: -325px; opacity: 0; z-index: -1; }
			   100%{ top: -325px; opacity: 0; z-index: -1; }
			}

			@keyframes cyclefour {
			   0%  { top: -325px; opacity: 0; }
			   56% { top: -325px; opacity: 0; }
			   60% { top: 0px; opacity: 1; }
			   64% { top: 0px; opacity: 1; }
			   76% { top: 0px; opacity: 1; z-index: 0; }
			   80% { top: 325px; opacity: 0; z-index: 0; }
			   81% { top: -325px; opacity: 0; z-index: -1; }
			   100%{ top: -325px; opacity: 0; z-index: -1; }
			}
			@keyframes cyclefive {
			   0%  { top: -325px; opacity: 0; }
			   76% { top: -325px; opacity: 0; }
			   80% { top: 0px; opacity: 1; }
			   84% { top: 0px; opacity: 1; }
			   96% { top: 0px; opacity: 1; z-index: 0; }
			   100%{ top: 325px; opacity: 0; z-index: 0; }
			}

			.progress-bar {
			   position: relative;
			   top: -5px;
			   width: 680px;
			   height: 5px;
			   background: #000;
			   animation: fullexpand 25s ease-out infinite;
			}

			@keyframes fullexpand {
			   /* In these keyframes, the progress-bar is stationary */
			   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

			   /* In these keyframes, the progress-bar starts to come alive */
			   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }

			   /* In these keyframes, the progress-bar moves forward for 3 seconds */
			   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

			   /* In these keyframes, the progress-bar has finished his path */
			   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

			   /* In these keyframes, the progress-bar will disappear and then resume the cycle */
			   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
			}

			#slider .tooltip {
			   background: rgba(0,0,0,0.7);
			   width: 300px;
			   height: 60px;
			   position: relative;
			   bottom: 75px;
			   left: -320px;
			}

			#slider .tooltip h1 {
			   color: #fff;
			   font-size: 24px;
			   font-weight: 300;
			   line-height: 60px;
			   padding: 0 0 0 10px;
			}

			slider .tooltip {
			…
			   transition: all 0.3s ease-in-out;
			}

			#slider li#first: hover .tooltip,
			#slider li#second: hover .tooltip,
			#slider li#third: hover .tooltip,
			#slider li#fourth: hover .tooltip,
			#slider li#fifth: hover .tooltip {
			   left: 0px;
			}

			#slider: hover li,
			#slider: hover .progress-bar {
			   animation-play-state: stop;
			}

			#content_events{
				overflow: auto;
				text-align: left;
				width: 90%;
				margin: 10px;
				float: left;
				background-color: LightGray;
				border-width: 2px;
				border-style: solid;
				border-color: #22196f;
				padding: 5px;}
			}

			#sup {
    	color: blue;
		  }
